.c-1
  .key-boad
    %ul
      %li
        %span#c_4.wk
          .white_code Q
      %li
        %span#c_s_4.bk
          .black_code 2
        %span#d_4.wk
          .white_code W
      %li
        %span#d_s_4.bk
          .black_code 3
        %span#e_4.wk
          .white_code E
      %li
        %span#f_4.wk
          .white_code R
      %li
        %span#f_s_4.bk
          .black_code 5
        %span#g_4.wk
          .white_code T
      %li
        %span#g_s_4.bk
          .black_code 6
        %span#a_4.wk
          .white_code Y
      %li
        %span#a_s_4.bk
          .black_code 7
        %span#b_4.wk
          .white_code U
      %li
        %span#c_5.wk
          .white_code I
      %li
        %span#c_s_5.bk
          .black_code 9
        %span#d_5.wk
          .white_code O
      %li
        %span#d_s_5.bk
          .black_code 0
        %span#e_5.wk
          .white_code P
      %li
        %span#f_5.wk
          .white_code Z
      %li
        %span#f_s_5.bk
          .black_code S
        %span#g_5.wk
          .white_code X
      %li
        %span#g_s_5.bk
          .black_code D
        %span#a_5.wk
          .white_code C
      %li
        %span#a_s_5.bk
          .black_code F
        %span#b_5.wk
          .white_code V
      %li
        %span#c_6.wk
          .white_code B
      %li
        %span#c_s_6.bk
          .black_code H
        %span#d_6.wk
          .white_code N
      %li
        %span#d_s_6.bk
          .black_code J
        %span#e_6.wk
          .white_code M

.switch
  %input#switch{:type => "checkbox"}
  %label{:for => "switch"}

.c-2
  .cork
    %table.code-list
      %tr
        %th SOUND CODE
      %tr
        %td.sound ド
        %td :
        %td.code c4
        %td.code c5
        %td.code c6
      %tr
        %td.sound レ
        %td :
        %td.code d4
        %td.code d5
        %td.code d6
      %tr
        %td.sound ミ
        %td :
        %td.code e4
        %td.code e5
        %td.code e6
      %tr
        %td.sound ファ
        %td :
        %td.code f4
        %td.code f5
        %td.code f6
      %tr
        %td.sound ソ
        %td :
        %td.code g4
        %td.code g5
      %tr
        %td.sound ラ
        %td :
        %td.code a4
        %td.code a5
      %tr
        %td.sound シ
        %td :
        %td.code b4
        %td.code b5
      %tr
        %td.sound #
        %td :
        %td.code C D E F G A B
      %tr
        %td.sound -
        %td :
        %td.code 間を開ける

  .play-box
    .black_boad
      %textarea{id: "score", placeholder: "SOUND CODEを書き込んでPLAYボタンをクリック！"}
    %button#play PLAY

  .melody-note
    .sample-melody
      %b SAMPLE MELODY <br>
      ド ファ - ファ ファ - ラ ソ - ファ <br>
      ソ - ラ ファ ファ ラ c6 d6 - d6 <br>
      c6 - ラ ラ - ファ ソ - ファ ソ - <br>
      ラ ファ - レ レ - ド ファ