body {
  background: linear-gradient(#05FBFF, #1E00FF);
  height: 100vh;
  width: 100%;
}

//-----------------------------------------------------------
.c-1{
  display: flex;
  justify-content: center;
  width: 100%;
  .key-boad{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 1200px;
    ul{
      display: flex;
      list-style: none;
      padding-left: 0px;
      li{
        font-size: 30px;
        position: relative;
        .wk{
          background-color: white;
          border: 2px solid;
          display: flex;
          flex-direction: column-reverse;
          height:260px;
          width: 60px;
          .white_code{
            text-align: center;
          }
        }

        .bk{
          background-color: black;
          border: 2px solid;
          display: flex;
          flex-direction: column-reverse;
          height: 170px;
          margin-left: -16px;
          position: absolute;
          width: 30px;
          .black_code{
            color: white;
            text-align: center;
          }
        }
      }
    }
  }
}

//---------------------------------------------------------------------------
.switch input {
  display: none;
}
.switch label {
  float: right;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.switch label:before {
  padding: 6px 10px;
  content: 'O N';
  border-radius: 6px 0 0 6px;
  background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) inset;
  color: #333;
}
.switch label:after {
  padding: 6px 10px;
  content: 'OFF';
  border-radius: 0 6px 6px 0;
  background: red;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) inset;
  color: #FFF;
}
.switch input + label:hover:before {
  opacity: 0.5;
}
.switch input:checked + label:before {
  background: green;
  color: #FFF;
  opacity: 1;
}
.switch input:checked + label:after {
  background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
  color: #333;
}
.switch input:checked + label:hover:after {
  opacity: 0.5;
}

//--------------------------------------------------------------------------
.c-2{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cork{
  height: 300px;
  width: 227px;
  background-image: url("コルク.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  .code-list{
    margin: auto;
    background-color: white;
    th{
      margin: auto;
    }
    tr{
      display: flex;
      .sound{
        width: 34px;
        text-align: center;
      }
      .code{
        margin: auto;
      }
    }
  }
}

//----------------------------------------------------------------------------
.play-box{
  display: flex;
  flex-direction: column;
  .black_boad{
    background-image: url("黒板.png");
    background-size: cover;
    height: 250px;
    width: 500px;
    position: relative;
    #score{
      background-color:transparent;
      border:none;
      color: white;
      font-size: 16px;
      height: 85%;
      width: 85%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  #play {
    font-size: 16px;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    cursor: pointer;

    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
  }

  #play:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}

//-------------------------------------------------------------------------------------------
.melody-note{
  width: 300px;
  height: 220px;
  background-image: url("ノート.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  .sample-melody{
    margin: auto;
    text-align: center;
  }
}